.body {
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 20px;
  text-align: center;
}

.inputbox {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  /* margin: 0 4px; */
  /* padding-left: 20px; */
  margin-left: 10px;
}
